---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";
import createSlug from "../lib/createSlug"

const posts = (await getCollection("blog")).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

const last_posts = posts.slice(0, 3);
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-5">
    <div class="text-xl py-1">Hello!</div>
    <div class="text-5xl font-bold">I'm Gabriela Victor</div>
    <div class="text-3xl py-3 font-bold">Computer Science student at the University of São Paulo</div>
    <div class="py-2">
      <text class="text-lg">
        I'm currently exploring areas like operating systems, graphics programming, and open source software development.
        I'm very curious and love learning about a wide range of subjects — not just in tech, but in general. 
        Being part of the technology field feels exciting and full of possibilities. I'm always looking for new challenges and ways to grow, 
        both academically and personally.
      </text>
    </div>
    
  </div>

  <div>
    <div class="text-3xl w-full font-bold mb-2">My last projects {"</>"}</div>
  </div>

  <HorizontalCard
    title="Future Project"
    img="/post_img.webp"
    desc=""
    url="#"
    badge="NEW"
  />
  <div class="divider my-0"></div>
  
  <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">Latest from blog</div>
  </div>

  {
    last_posts.map((post) => (
      <>
        <HorizontalCard
          title={post.data.title}
          img={post.data.heroImage}
          desc={post.data.description}
          url={"/blog/" + createSlug(post.data.title, post.slug)}
          target="_self"
          badge={post.data.badge}
        />
        <div class="divider my-0" />
      </>
    ))
  }
</BaseLayout>
